*, *::before, *::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.card, .img{
    
   margin-left: 9em;
   margin-bottom: 15em;
}
.rounded-circle{
    width: 300px;
}

header{
    border-bottom: 5px solid  #072247;
   
}

.inicio{
    height: 100vh;
    margin-bottom: 0.1em;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding: 0;
}

.resumo{
    height: 100vh;  
    width: auto;  
}

.posicao,.posicao02, .posicao03, .posicao04{
    display: none;
}


header{
    background-color: #9ec5c3;
    
}

main{
    padding-left: 5em;
    padding-right: 5em;
    background-color: #9ec5c3;
    
}

p,.size {
    font-size: 20px;
  
}


p section  {
    text-align: justify;
}

h2{
    color:#3b3850;
    font-weight: bold;
}

h3{
    color: #072247;
    font-weight:600;
}

.subtitulo{
    color: #6c6c7c;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
}

.borda {
    border-bottom: 5px solid #072247  ;
    padding-bottom: 0.5em;
   
}

.espacamento{
    padding-top: 1em;
   
}

.table-hover tbody tr:hover{
    color: white;
    font-weight: bolder;
 
}

.table{
    width: 30em;
}

.contato 
 {
    background-color: #9ec5c3;
    padding: 2em;
    min-height: 20%;    
   
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
    
}

/* Breakpoints */

@media (max-width: 1024px) {
    p, ul li,.subtitulo,td ,.navbar-brand{
        font-size: 1.2em;
    }

    nav a{
        font-size: 0.9em;
    }

    h2{
        font-size: 2em; 
    }
    h3{
        font-size: 1.5em;  
    }
  
    h1{
        padding-bottom: 0.1em;
    }

      .posicao{
        position: absolute;
        top: 140em;
        left: 0.9em;
       }

       .posicao02{
        position: absolute;
        top: 140em;
        left: 33em;
       }

       .posicao03{
       display: none;
     }
}

@media (max-width: 768px) {
    nav a{
        font-size: 0.7em;
    }

    p,.subtitulo,td ,.navbar-brand{
        font-size: 1.2em;
    }
    
    h2{
        font-size: 2em;
    }
    
    h3{
        font-size: 1.5em;  
    }
  

    .posicao{
        position: absolute;
        top: 110em;
        left: 10em;
       }

       .posicao02{
       display: none;
     }

     .size li{
         font-size: 1em;
     }
}
@media (max-width: 657px) {
  
      .posicao02, .posicao03, .posicao04{
        display: none;
    }

    .posicao{
    position: absolute;
    top: 88.4em;
    left: 5em;
   }

   .posicao img{
    height: 228px;
   }

    .table{
        width: 25em;
    }
}

@media (max-width:540px) {
   
  h1{
      padding-bottom: 2em;
  }
    .posicao{
      display: none;
  }
}

    
@media (max-width: 458px) {

    main{
        padding-left: 2em;
        padding-right: 2em;
    }

    .inicio-draw {
        padding-top: 7em;
        text-align: center;
    }

    p,.subtitulo,td ,.navbar-brand{
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
       
    }
    
    h2{
        font-size: 1.8em;
    }
    
    h3{
        font-size: 1.3em;  
    }

    .size li{
        font-size: 0.8em;
    }
  

    .posicao{
        display: none;
    }

    .table{
    width: 18em;
    }

    .contato img {
    width:50px;
    }
}

@media (max-width: 320px) {
    h1{
        font-size: 1.5em;
        padding-bottom: 1em;
    }

    p,.subtitulo,td ,.navbar-brand{
        font-size: 0.8em;
    }

    h2{
        font-size: 1.3em;
    }

    .table{
    width: 17em;
    }

}

